{% include coresite.html %}


  <header>
    <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index.html"><img src="/assets/logo/red-symbol.png" width="auto" height="45" alt="Nexus Movement" style="padding-right: 25px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          </button>
        
        </nav>
    </div>
</header>
  <div style="margin-bottom: 90px;"></div>