<div id="latestfromnexusmovement">
<h3 style="text-align: center;color:#d84d4d;padding:0; margin: 0;margin-bottom: 10px;">THE LATEST</h4>
<p style="text-align: center;">Find out what's happening at Labour Nexus</p>

    <div class="container-fluid">

        <div class="row">
                {% for post in site.posts limit: 4%}
            <div class="col-lg-3">
            <div class="card">
                <a href="{{ post.url }}" style="text-decoration: none; color: black;font-size: 100%;">
              <img src="{{ post.image }}" class="card-img-top" alt="{{ post.image }}">
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.description}}</p>
                <p class="card-text"><small class="text-muted">{{ post.date | date: '%B %d, %Y' }} |   {{ post.category }}</small></p>
              </div>
            </div>
              </a>
            </div>
            {% endfor %}     
        </div>  


</div>
</div>
</div>

<style>
    #latestfromnexusmovement {
  min-height: 500px;
  width: 100%;
  background-color: #ffeeee;
  padding: 25px;
  margin-top: 35px;
}

#latestfromnexusmovement h4 {
  margin-bottom: 25px;
  font-size: 160%;
}

h5 {
    font-family: BRANDFONT;
    text-transform:uppercase;
    color:#d84d4d;
}


.card {
    border: 0;
    transition: 0.2s linear;
    height: 650px;
    margin-top: 25px;
}

.card:hover {
    background-color:#ffeeee;
}

.card:hover .card-img-top {
    opacity: 0.5;
}

.card:active {
    background-color:#d84d4d;
}

.card:active h5, .card:active p, .card:active small.text-muted {
    color: white !important;
}


</style>