<div id="latestfromnexusmovement">
<h3 style="text-align: center;">THE LATEST</h4>
<p style="text-align: center;">Find out what's happening at Labour Nexus</p>

    <div class="container-fluid">
        <div class="row">
            {% for post in site.posts limit: 4%}
            <div class="col-lg-3">
                <a style="display: block; font-size: 100%;" href="{{ post.url }}"><div class="nexus-card">
                    <div class="fill" style="height: 200px;">
                        <img class="card-img-top" style="margin-bottom: 25px;" src="{{post.thumbnail}}">
                    </div>
                    <span class="categories" style="margin-top: 25px;display: inline-block;">{{post.categories}}</span>
                    <span class="date">{{ post.fulldate }}</span>
                    <h4>{{post.title}}</h4>
                </div></a>
        </div>
            {% endfor %}       
</div>
</div>
</div>

<style>
    #latestfromnexusmovement {
  min-height: 400px;
  width: 100%;
  background-color: #ffeeee;
  padding: 25px;
  margin-top: 35px;
}

#latestfromnexusmovement h3 {
  color: #d84d4d;
  margin-bottom: 25px;
}


.nexus-card {
    height: 100%;
    text-align: center;
    background-color: white;
    transition: 0.2s linear;
    color: black;
    border-radius: 10px;
    overflow: hidden;
}
.nexus-card:hover {
    background-color: #ffeeee;
}

.nexus-card:active {
    background-color: #d84d4d;
    color: white;
}

</style>