<div class="four-button-menu">
    <div class="row">
        <div class="col-lg-6">
            <a class="four-button-menu" href="{{ include.url1 }}">{{ include.emoji1 }}<br>{{ include.button1 }}</a>
        </div>

        <div class="col-lg-6">
            <a class="four-button-menu" href="{{ include.url2 }}">{{ include.emoji2 }}<br>{{ include.button2 }}</a>
        </div>
        
        <div class="col-lg-6">
            <a class="four-button-menu bottom-two" style="display: {{include.bottom-two-visible}}" href="{{ include.url3 }}">{{ include.emoji3 }}<br>{{ include.button3 }}</a>
        </div>

        <div class="col-lg-6">
            <a class="four-button-menu bottom-two" style="display: {{include.bottom-two-visible}}" href="{{ include.url4 }}">{{ include.emoji4 }}<br>{{ include.button4 }}</a>
        </div>
        </div>
    </div>  




