<div id="localelectioncountdown" style="text-align: center;">
    <div class="container-fluid">
        <h5><span class="bold" style="color: white;">🗳 UK Elections 2021</span></h5>
    <h3>There are <span id="days">a few</span> days left, <br>have you registered to vote?</h3>


    <p>These elections will be crucial if we want to bring Labour back into power. Governments and councils across England, Scotland and Wales need you.</p>
    {% include components/4-button-menu.html  bottom-two-visible="none" button1="REGISTER TO VOTE - IT ONLY TAKES 5 MINUTES" url1="https://gov.uk/registertovote" emoji1="🗳" button2="GET A POSTAL VOTE - VOTE SAFELY" url2="https://labournexus.org.uk/promotions/postalvote" emoji2="📩" %}
    </div>
</div>
<style>
#localelectioncountdown {
    background-color: #d84d4d;
    min-height: 250px;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
}
</style>

<script>
    // The data/time we want to countdown to
    var countDownDate = new Date("May 6, 2021 22:00:00").getTime();

    // Run myfunc every second
    var myfunc = setInterval(function() {

    var now = new Date().getTime();
    var timeleft = countDownDate - now;
    

    // Calculating the days, hours, minutes and seconds left
    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    // Result is output to the specific element
    document.getElementById("days").innerHTML = days
        
    // Display the message when countdown is over
    if (timeleft < 0) {
        clearInterval(myfunc);
        document.getElementById("days").innerHTML
    }
    }, 1000);

    if (typeof innerHTML !== 'undefined') {
  // Now we know that foo is defined, we are good to go.
}
    </script>

