<div class="top-image" style="width: 100%; height: 45vh;background-image: url(/images/stock/jc\ rally.jpg); display: flex; background-size: cover;background-position: top;"></div>
<div class="heading-text" style="text-align: center;padding: 10px;background-color: #c75a51;color: white;">
    <h3 style="margin-top: 5px;">BECOME A LABOUR NEXUS MEMBER</h3>
    <div class="container">
        <p>Our campaign force to unite our party, create an environment for constructive discourse and bring Labour to Downing Street cannot succeed without you. </p>
    </div>
</div>

