
{% include coresite.html %}
<div id="site-cover"></div>

{% include components/widepageheader.html %}
<div class="container-fluid">


<!--End mc_embed_signup-->
            
        </div>
    </div>
</div>
</div>


{% include components/redalert.html %}
{% include components/featuredlightbox.html %}

<div class="container-fluid" style="margin-top: 30px;margin-bottom: 30px;text-align: left;">
    <div class="row">
        <div class="col-lg-6" style="padding: 30px;">
    <h2>The Nexus between our party is broken. <span class="active">Let's fix it.</span></h2>
    <p><span class="bold">Toxic, divided parties do not win elections.</span> Instead, they discourage participation and lose the trust of the public. <br><br> It’s up to us if we want to end the blaming and the cynicism and unite the party to win.</p>
    <a class="btn btn-danger" href="/about" role="button">About Our Movement</a>


        </div>


    <div class="col-lg-6" style="text-align: center;">
        <img class="img-fluid" alt="Labour 203, Tory 365" src="/images/graphs/maxresdefault.jpg">
        <p>2019 General Election Results</p>
    </div>
    </div>
    <br><br>

</div>
    {% include latestfromnexus.html %}
    <div class="container-fluid" style="margin-top: 25px;">
    <div class="OurAims" style="min-height: 450px;background-color: #FFFFC1;border-radius: 20px;padding: 10px;">
        <h2 style="text-align: center;padding-top: 25px;">Our Aims</h2>
        <div class="row" style="margin: 25px;">
            <div class="col-lg ouraimscard">
            <h4 style="font-size: 200%;">🌹<br>UNITY</h4>
            <p>Oppose factionalism and encourage unity, co-operative and constructive debate, and co-operation between the various traditions and groups in the Labour Party;</p>
            </div>

            <div class="col-lg ouraimscard">
                <h4 style="font-size: 200%;">🙏 <br>A SAFE SPACE</h4>
                <p>Provide a safe, welcoming and non-factional space for members of the Labour Party, with a focus on but not limited to young members, to get involved with the wider labour movement and its networks and develop their political awareness and ideas;</p>
                </div>

            <div class="col-lg ouraimscard">
                <h4 style="font-size: 200%;">✊<br>ACTIVISM</h4>
                <p>Encourage inactive and new members to get involved with the Labour Party’s networks, and encourage Labour supporters to join the Party and its networks;</p>
                </div>

            <div class="col-lg ouraimscard">
                <h4 style="font-size: 200%;">✨<br>HOPE</h4>
                <p> Support the Labour Party’s electoral campaigns as a parallel campaigning force.</p>
                </div>
            <style>
                .ouraimscard {
                    background-color: white;
                    border-radius: 10px; 
                    padding: 10px;
                    margin: 10px;
                    text-align: center;
                    box-shadow: 5px 5px #d84d4d;
                }
            </style>
        </div>
        
        <div style="text-align: center">
        <a href="/constitution" style="color:#d84d4d;text-decoration: underline 2px;"><h4 text-align: center;>Read the Constitution</h4></a>
        </div>
    </div>
    <br>
    <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="col-lg-4">
    <h2>SUPPORT OUR CAUSE - WE CANNOT DO THIS WITHOUT YOU</h2> 
    <p>Bringing Labour together will not be easy, but with the help of Labour members like you, we will be one step ahead.</p>
    </div>

    <div class="col-lg-8">
    {% include components/4-button-menu.html  button1="FOLLOW US ON TWITTER" url1="https://twitter.com/nexuslabour" emoji1="🐦" button2="FOLLOW US ON INSTAGRAM" url2="https://instagram.com/labournexus" emoji2="📸"  button3="SUBSCRIBE ON YOUTUBE" url2="https://instagram.com/labournexus" emoji4="📩" button4="SIGN UP TO OUR NEWSLETTER" url2="https://instagram.com/labournexus" emoji3="📺"  %}
    </div>

</div>
</div>



{% include footer.html %}

