
{% include header.html %}
<div class="container">
    <div class="horizontal-center" style="text-align: center;margin-top: 25px;">
        <span class="categories" style="margin-bottom: 25px;">{{ page.categories }}</span>
        <h2 class="page-title" style="margin-top: 20px;">{{ page.title }}</h2>
        <span class="date">📅 {{ page.date | date: "%b %d, %Y" }}</span>
        <span class="author">📝 Written by {{ page.author }}</span>
    </div>
</div>
    <div class="container-writing" style="margin-top: 25px;">

    <br>
    <br>
    {{ content }}

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-via="NexusLabour" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    {% include latestfromnexus.html %}
{% include footer.html %}

